@page {
  size: A4 landscape;
  margin: 0;
}

.page {
  padding: 18.5mm;
  page-break-after: always;
}

body {
  counter-reset: pageNumber; /* カウンタの初期化 */
}
table {
  width: 100%;
}

@media print {
  body {
    width: 297mm; /* needed for Chrome */
  }
}
@media screen {
  body {
    background: #eee;
  }
  .page {
    background: white; /* 背景を白く */
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3); /* ドロップシャドウ */
  }
}
